spring:
  application:
    name: auth
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  datasource:
    hikari:
      maximum-pool-size: 5 # nang core khi co nhieu truy van song song
      minimum-idle: 3 # So ket noi idle luon co san
      connection-timeout: 2000 # Cho ket noi toi da 3s
      max-lifetime: 600000 # Ket noi song toi da 30p
      idle-timeout: 30000 # Dong idle sau 30s neu khong su dung
management:
  health:
    rabbit:
      enabled: false
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
      base-path: /actuator
server:
  port: 9001
  servlet:
    context-path: /api/v1
web-frontend-url: ${WEB_FRONTEND_URL:http://localhost:3000}
cors:
  allowed-origins:
    - ${web-frontend-url}
#spring:
#  datasource:
#    driver-class-name: org.postgresql.Driver
#    url:
#    username:
#    password:
#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id:
#            client-secret:
#            scope:
#              - email
#              - profile
#              - openid
#      resourceserver:
#        jwt:
#          issuer-uri:
#  rabbitmq:
#    host:
#    port:
#    username:
#    password:
#sending_mail:
#  account_creation:
#    subject:
#    template:
#rabbitmqconfig:
#  exchange_name:
#  queue_name:
#  routing_key:
eureka:
  client:
    service-url:
      defaultZone: http://localhost:9001/eureka
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui/index.html
