spring:
  application:
    name: chat
server:
  port: 9002
management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
