spring:
  application:
    name: customer
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  datasource:
    hikari:
      maximum-pool-size: 5 # nang core khi co nhieu truy van song song
      minimum-idle: 3 # So ket noi idle luon co san
      connection-timeout: 2000 # Cho ket noi toi da 3s
      max-lifetime: 600000 # Ket noi song toi da 30p
      idle-timeout: 30000 # Dong idle sau 30s neu khong su dung
management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
      base-path: /
