spring:
  application:
    name: notification
  profiles:
    active: dev
management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
      base-path: /actuator
server:
  port: 9004
# spring:
# mongodb:
# uri: mongodb://guest:guest@mongodb:27017/microservice_db?authSource=admin
