server:
  port: 8080

spring:
  main:
    web-application-type: reactive
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth
          uri: lb://auth
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
        - id: chat
          uri: lb://chat
          predicates:
            - Path=/chat/**
          filters:
            - StripPrefix=1
        - id: customer
          uri: lb://customer
          predicates:
            - Path=/customer/**
          filters:
            - StripPrefix=1
        - id: device
          uri: lb://device
          predicates:
            - Path=/device/**
          filters:
            - StripPrefix=1
        - id: notification
          uri: lb://notification
          predicates:
            - Path=/notification/**
          filters:
            - StripPrefix=1
        - id: construction
          uri: lb://construction
          predicates:
            - Path=/construction/**
          filters:
            - StripPrefix=1
        - id: organization
          uri: lb://organization
          predicates:
            - Path=/organization/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9000/eureka
