apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service
  namespace: capstone-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      labels:
        app: chat-service
    spec:
      containers:
        - name: chat-service
          image: chat-service:1.0.0
          ports:
            - containerPort: 9002
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: SERVER_PORT
              value: "9002"
---
apiVersion: v1
kind: Service
metadata:
  name: chat-service
  namespace: capstone-project
spec:
  selector:
    app: chat-service
  ports:
    - protocol: TCP
      port: 9002
      targetPort: 9002
  type: ClusterIP
