services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-auth
    image: auth-service
    ports:
      - "9001:9001"
    environment:
      - SERVER_PORT=9001
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network
  construction-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-construction
    image: construction-service
    ports:
      - "9006:9006"
    environment:
      - SERVER_PORT=9006
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network
  customer-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-customer
    image: customer-service
    ports:
      - "9003:9003"
    environment:
      - SERVER_PORT=9003
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network
  device-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-device
    image: device-service
    ports:
      - "9007:9007"
    environment:
      - SERVER_PORT=9007
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network
  email-service:
    build:
      context: ..
      dockerfile: ./apps/Dockerfile
      target: runner
    image: email-service
    ports:
      - "3000:9005"
    environment:
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672
    networks:
      - app-network
  notification-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-notification
    image: notification-service
    ports:
      - "9004:9004"
    environment:
      - SERVER_PORT=9004
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network
  organization-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-organization
    image: organization-service
    ports:
      - "9008:9008"
    environment:
      - SERVER_PORT=9008
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
