services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    hostname: rabbitmq_host
    restart: always
    environment:
      RABBIT_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      # For AMQP protocol connected from spring boot
      - "5672:5672"
      # For web management UI
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
  # Chay bootstrap cho kong gateway truoc docker compose run --rm kong-gateway kong migrations bootstrap
  kong-migrations:
    image: kong:3.6
    command: kong migrations bootstrap
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: postgres
      KONG_PG_DATABASE: ${POSTGRES_DB}
      KONG_PG_USER: ${POSTGRES_USER}
      KONG_PG_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - postgres
    networks:
      - app-network
  kong-gateway:
    image: kong:3.6
    container_name: kong-gateway
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: postgres
      KONG_PG_USER: ${POSTGRES_USER}
      KONG_PG_PASSWORD: ${POSTGRES_PASSWORD}
      KONG_PG_DATABASE: ${POSTGRES_DB}
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
      KONG_ADMIN_GUI_URL: "http://localhost:8002"
      KONG_LOG_LEVEL: debug
      KONG_PLUGINS: bundled
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
      - "8002:8002"
      - "8445:8445"
      - "8003:8003"
      - "8004:8004"
    depends_on:
      - kong-migrations
      - postgres
    networks:
      - app-network
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-auth
    image: auth-service
    ports:
      - "9001:9001"
    environment:
      - SERVER_PORT=9001
      - SERVER_ADDRESS=0.0.0.0
    networks:
      - app-network
  chat-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-chat
    image: chat-service
    ports:
      - "9002:9002"
    environment:
      - SERVER_PORT=9002
      - SERVER_ADDRESS=0.0.0.0
    networks:
      - app-network
  #  notification-service:
  #    build:
  #      context: .
  #      dockerfile: Dockerfile
  #      target: build-notification
  #    image: notification-service
  #    ports:
  #      - "9004:9004"
  #    environment:
  #      - SERVER_PORT=9004
  #      - SERVER_ADDRESS=0.0.0.0
  #    networks:
  #      - app-network
volumes:
  rabbitmq_data:
  postgres_data:
networks:
  app-network:
    driver: bridge
# Admin workspace: http://localhost:8002/workspaces
